.mybtn {
  display: block;
  background: #0aa led;
  color: #fff;
  text-decoration: none;
  width: 8rem;
  height: 2.5rem;
  text-align: center;
  line-height: normal;
  border-radius: 2rem;
  font-size: 8rem; }
  .mybtn:hover {
    color: #f10215; }

div.main {
  width: 200px;
  height: 200px;
  background: #f00;
  transform-property: all;
  transform-duration: 2s;
  transform-timing-function: linear; }
  div.main:hover {
    background: #ff0;
    border-radius: 50%; }

p.p1 {
  width: 100px;
  height: 20px; }

div {
  box-shadow: 0 0 50px 10px gray; }

p {
  box-shadow: 0 0 50px 10px gray; }

ul {
  list-style: none; }
  ul li {
    padding: 5px;
    border: 1px solid #ff0;
    border-radius: 2px; }
    ul li a {
      color: gray;
      text-decoration: none; }
      ul li a:hover {
        color: #f00; }

uil li a {
  color: #f00; }
  uil li a:hover {
    color: #0f0; }
  uil li a:visited {
    color: #000; }

#content a {
  color: #f00; }
  #content a:hover {
    color: #00f; }
  #content a:visited {
    color: #000; }

.my_round, .rounded-shadow {
  border: 1px solid #f00;
  border-radius: 50%; }

.rounded-shadow {
  box-shadow: 0 0 10px; }

.my_border, .my_bottom_border {
  border: 1px solid transparent;
  width: 400px;
  margin-left: 20px; }

.my_bottom_border {
  border-bottom-color: #f00; }
  .my_bottom_border:hover {
    border-bottomr-color: #00f; }
