$jd_red:#f10215;
$w:300px;
$h:100px;
p{
  color: $jd_red;
  width: $w;
  height: $h;
  border: 2px solid $jd_red;
}
div{background: $jd_red}
#content{
  color: #f00;
  div.top{
    margin: 0 auto;
    h1{font-weight: normal}
    p{font-size: 20px;}
  }
}
a{
  color: #f00;
}
 a:hover{color: #00f}
 nav,div,footer{
   a{color: #000}
 }
 div{
   border: {style: solid;width: 1px;color: #f00;};
 }